/*
Custom Css
*/
.color-1{
    color: #FFDE59 !important; 
}
.color-2{
    color: #79471A !important;
}
.bg-color1{
    background-color: #FFDE59 !important; 
}
.bg-color2{
    background-color: #79471A !important; 
}